---
export async function getStaticPaths() {
  return [
    { params: { kind: "bass" } },
    { params: { kind: "drums" } },
    { params: { kind: "fx" } },
    { params: { kind: "guitar" } },
    { params: { kind: "keys" } },
    { params: { kind: "orchestral" } },
    { params: { kind: "vocals" } },
    { params: { kind: "other" } },
  ];
}
const { kind } = Astro.params;
let capitalizedWord = "";
import Player from "../../components/Player.svelte";
import Layout from "../../layouts/Layout.astro";
if (kind) {
  const firstLetter = kind.charAt(0);

  const firstLetterCap = firstLetter.toUpperCase();

  const remainingLetters = kind.slice(1);

  capitalizedWord = firstLetterCap + remainingLetters;
}
---

<Layout
  title={`${capitalizedWord} loops on Floopr`}
  description={`Find awesome ${kind} music loops on Floopr.org`}
  ogImage={"instrument/"+kind+".webp"}
>
  <div class="p-4">
    <h1 class="text-2xl text-gray-500 cursor-default">
      Browsing <span
        class="font-bold hover:translate-y-[-2px] transition-all hover:shadow bg-stone-400 hover:bg-gradient-to-r from-teal-500 to-green-600 inline-block text-transparent bg-clip-text"
        >{capitalizedWord}</span
      >
      <span class="sm:inline-block hidden">on Floopr</span>
    </h1>
    <div>
      <div class="overflow-x-auto relative shadow-2xl rounded-lg">
        <Player client:load kind={kind} />
      </div>
    </div>
    <div id="audio"></div>
  </div>
</Layout>
