---
import Layout from "../../layouts/Layout.astro";
const loops = await Astro.glob("../../../loops/**/*.json");
// @ts-ignore
const kinds = new Set(loops.map((loop) => loop.instrument));
console.log(kinds)
---

<style>
  .basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
<Layout title="Select a Floopr Category">
  <section class="basic-grid p-4">
    {[...kinds].map(kind => (
      <a href={"/loops/"+kind}>
        <img class="card rounded shadow-md hover:shadow-lg hover:translate-y-[-4px]" src={"/img/instrument/"+kind+".webp"} alt={kind} />
      </a>
    ))}
  </section>
</Layout>