---
import Layout from "../../layouts/Layout.astro";
const loops = await Astro.glob("./**/*.md");
// @ts-ignore
const kinds = new Set(loops.map((loop) => loop.url.split("/")[2]));
---

<style>
  .basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
      rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
      rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.04);
  }
</style>
<Layout title="Select a Floopr Category">
  <section class="basic-grid p-4">
      {[...kinds].map(kind => (
        <a href={"/loops/"+kind}>
          <img class="card" src={"/img/instrument/"+kind+".webp"} alt={kind} />
        </a>
      ))
    }
  </section>
</Layout>
