---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Not Found" description="The page you were trying to reach doesn't exist. Maybe you made a typo or the link is just broken? ">
    <section>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white">Wow! You're lost!</h1>
            <p class="mb-8 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 text-gray-400">The page you were trying to reach doesn't exist. Maybe you made a typo or the link is just broken? </p>
            <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a href="/loops" class="bg-amber-800 inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center rounded-lg border focus:ring-4 text-white border-amber-700 hover:bg-amber-700 focus:ring-amber-800">
                    Loops
                </a>  
            </div>
        </div>
    </section>
</Layout>
