---
import Layout from "../layouts/Layout.astro";
---

<Layout
  assignedClass="m-4"
  title="Terms Of Service"
  description="When you upload to Floopr.org, you agree to these terms and conditions."
>
  <h1 class="text-2xl font-bold text-white">Terms</h1>
  <div class="text-gray-200">
    By Uploading music loops to Floopr you agree to the following terms and
    conditions:
    <ol>
      <li>
        1. All the sounds uploaded to Floopr shall be licensed under CC0, and
        shall be considered public domain and free to use.
      </li>
      <li>
        2. The sounds you upload must be entirely your own work. They shall not,
        for example be a sampled part of some other person's work.
      </li>
      <li>
        3. In the case that you are not the creator of the sound, you must
        receive explicit permission by the creator to upload it Floopr.
      </li>
      <li>
        4. In the case you are a co-creator of the sound you must have explicit
        permission by the other creators to upload it to Floopr.
      </li>
      <li>
        5. Any sound in violation of the terms may be removed without notice.
      </li>
      <li>
        6. Any legal actions caused by a misuse of the service (as stated above)
        shall be directed towards the person contributing to Floopr and not the
        maintainers of Floopr.
      </li>
      <li>
        7. Floopr is not a legal entity, and as such we cannot provide you with
        any legal advice. If you are unsure about the legality of your
        contribution, please consult a lawyer.
      </li>
    </ol>
    <br />
    <p>
      While this is not a strict requirement, please provide us with a valid
      email adress of yours, as it comes in handy in case of legal issues.
      Please keep in mind that we will not share your email adress with anyone,
      and that we will only use it to contact you if we need to.
    </p>
    <div
      class="p-4 mb-4 text-sm rounded-lg bg-stone-800 text-red-400"
      role="alert"
    >
      <span class="font-medium">Warning</span>
      Please only agree to these terms if you are sure you understand them.
    </div>
    Thank you in advance for contributing to Floopr, helping us change the world of music, one loop at a time.
  </div>
</Layout>
